USE [master]
GO
/****** Object:  Database [SunnyHolidays]    Script Date: 6/27/2024 4:18:01 AM ******/
CREATE DATABASE [SunnyHolidays]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SunnyHolidays', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SunnyHolidays.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SunnyHolidays_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SunnyHolidays_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SunnyHolidays].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SunnyHolidays]
GO
/****** Object:  Table [dbo].[Cabin]    Script Date: 6/27/2024 4:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabin](
	[cabinId] [bigint] IDENTITY(100,1) NOT NULL,
	[cabinName] [varchar](150) NOT NULL,
	[cabinDescription] [varchar](255) NOT NULL,
	[pricePerNight] [decimal](10, 2) NOT NULL,
	[pricePerweek] [decimal](10, 2) NOT NULL,
	[photoFileNmae] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cabinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CabinInclusion]    Script Date: 6/27/2024 4:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CabinInclusion](
	[cabinIncId] [bigint] IDENTITY(1,1) NOT NULL,
	[cabinId] [bigint] NOT NULL,
	[IncId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cabinIncId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inclusion]    Script Date: 6/27/2024 4:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inclusion](
	[IncId] [bigint] IDENTITY(1,1) NOT NULL,
	[incName] [varchar](55) NOT NULL,
	[incDetails] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IncId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 6/27/2024 4:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PromoID] [bigint] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](255) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[cabinId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PromoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CabinInclusion]  WITH CHECK ADD  CONSTRAINT [FK_CabinInclusion_Cabin] FOREIGN KEY([cabinId])
REFERENCES [dbo].[Cabin] ([cabinId])
GO
ALTER TABLE [dbo].[CabinInclusion] CHECK CONSTRAINT [FK_CabinInclusion_Cabin]
GO
ALTER TABLE [dbo].[CabinInclusion]  WITH CHECK ADD  CONSTRAINT [FK_CabinInclusion_Cabin2] FOREIGN KEY([IncId])
REFERENCES [dbo].[Inclusion] ([IncId])
GO
ALTER TABLE [dbo].[CabinInclusion] CHECK CONSTRAINT [FK_CabinInclusion_Cabin2]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_Cabin] FOREIGN KEY([cabinId])
REFERENCES [dbo].[Cabin] ([cabinId])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_Promotion_Cabin]
GO
ALTER TABLE [dbo].[Cabin]  WITH CHECK ADD  CONSTRAINT [christy] CHECK  (([pricepernight]>(0)))
GO
ALTER TABLE [dbo].[Cabin] CHECK CONSTRAINT [christy]
GO
ALTER TABLE [dbo].[Cabin]  WITH CHECK ADD  CONSTRAINT [mikha] CHECK  (([pricepernight]>(0)))
GO
ALTER TABLE [dbo].[Cabin] CHECK CONSTRAINT [mikha]
GO
ALTER TABLE [dbo].[Cabin]  WITH CHECK ADD  CONSTRAINT [mikha1] CHECK  (([priceperweek]<=(5)*[pricepernight]))
GO
ALTER TABLE [dbo].[Cabin] CHECK CONSTRAINT [mikha1]
GO
USE [master]
GO
